html {
  font-weight: bold;
}
body {
  background-color: #434343;
  color: #434343;
  transition: 0.5s;
}
.radius {
  border-radius: 50px;
}
.card-body {
  background-color: #94ebd8;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #d8fdf2;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 100px;
  margin-top: 10px;
}
input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  appearance: none;
  background: #434343;
  outline: none;
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #3664ff;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}
input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}
.dark {
  background-color: #333333;
  color: #fcfcfc;
}
i .dark-mode-btn {
  margin-top: -20px;
  margin-left: 30px;
}
